
.button.button--claveunica {
  display: inline-block;
  padding: 8px 18px 8px 45px;
  background-color: #0f69c4;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  line-height: 1.6em;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 0;
  text-decoration: underline;
  background-image: url(../icon/claveunica.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 15px 50%;
}

.button.button--claveunica:focus,
.button.button--claveunica:active,
.button.button--claveunica:hover {
  background-color: #0c549c;
  color: #fff;
  text-decoration: underline;
  background-image: url(../icon/claveunica.svg);
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 15px 50%;
}
